indss_matching_service_solution/MatchingClient/Service References/MatchingServiceReference/MatchingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="IdentaZone.Indss" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebMatchingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="IdentaZone.Indss" location="http://localhost:8001/MatchingService?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IMatchingService" type="i0:IMatchingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap:operation soapAction="IdentaZone.Indss/IMatchingService/Echo" style="document" />
      <wsdl:input name="EchoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EchoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Match">
      <soap:operation soapAction="IdentaZone.Indss/IMatchingService/Match" style="document" />
      <wsdl:input name="MatchRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBspProvidersList">
      <soap:operation soapAction="IdentaZone.Indss/IMatchingService/GetBspProvidersList" style="document" />
      <wsdl:input name="GetBspProvidersListRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetBspProvidersListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBspTemplate">
      <soap:operation soapAction="IdentaZone.Indss/IMatchingService/AddBspTemplate" style="document" />
      <wsdl:input name="AddBspTemplateRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddBspTemplateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <soap:operation soapAction="IdentaZone.Indss/IMatchingService/EnableUser" style="document" />
      <wsdl:input name="EnableUserRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EnableUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectDB">
      <soap:operation soapAction="IdentaZone.Indss/IMatchingService/ConnectDB" style="document" />
      <wsdl:input name="ConnectDBRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConnectDBResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebMatchingService">
    <wsdl:port name="BasicHttpBinding_IMatchingService" binding="tns:BasicHttpBinding_IMatchingService">
      <soap:address location="http://localhost:8001/MatchingService/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>